.tooltip .tooltip-text {
  color: white;
  background-color: black;
  opacity: 0.6;
  visibility: hidden;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 6px;
  position: absolute;
  top: auto;
  left: auto;
  align-self: center;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
